body {
  font-size: 0.32rem;
  background: #f2f2f2;
}
@titleColor: #000;
@tipColor: #999;
@textColor: #1c67c3;
@subColor: #666;
@mainColor: #E60084;
@altColor: #333;
@lineColor: #ddd;

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}
// 字体大小
.font-12{
   font-size: .24rem; 
}
.font-14{
   font-size: .28rem; 
}
.font-16{
   font-size: .32rem; 
}
.font-18{
   font-size: .36rem; 
}
.font-22{
   font-size: .44rem; 
}

li,
ul {
  list-style: none;
}

button {
  text-align: center;
}

.pst-rel {
  position: relative;
}

.common-btn {
  display: inline-block;
  width: 100%;
  background: @mainColor;
  color: #fff;
  text-align: center;
  border-radius: .08rem;
  padding: .14rem 0;
  outline: 0;
  border: 0;
}

.btn-disabled {
  background: #ccc;
}

.left-arrow,
.right-arrow {
  position: relative;
}

.right-arrow:after {
  content: "";
  width: .16rem;
  height: .16rem;
  border-right: .02rem solid #9a9a9a;
  border-bottom: .02rem solid #9a9a9a;
  transform: rotate(320deg);
  -webkit-transform: rotate(317deg);
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.08rem;
}

.left-arrow:before {
  content: "";
  position: absolute;
  width: .16rem;
  height: .16rem;
  border: .02rem solid #ccc;
  border-width: .02rem 0 0 .02rem;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  top: 50%;
  margin-top: -0.08rem;
  left: 0.06rem;
}

.arrow,
.rearrow {
  position: relative;
  margin-right: 0.12rem;
}

.arrow:before,
.rearrow:before {
  content: "";
  position: absolute;
  width: .12rem;
  height: .12rem;
  border: .02rem solid @altColor;
  border-width: 0 0 .02rem .02rem;
  transform: rotate(315deg);
  top: .06rem;
  right: -0.2rem;
}

.rearrow:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: .12rem;
}

.btn {
  display: inline-block;
  color: @altColor;
  border-radius: .06rem;
  text-align: center;
  padding: .08rem 0;
  font-size: 0.28rem;
  text-decoration: none;
  outline: none;
  border: none;
  width: 1.8rem;

  &.btn-primary {
    background-color: @mainColor;
    color: #fff;
  }

  &.btn-general {
    background-color: #fff;
    color: @altColor;
    border: 0.02rem solid @lineColor;
  }
  //按钮禁用
  &:disabled {
    background-color: @lineColor;
  }
}
// 头部组件 start

.nav-title {
  background-color: @mainColor;
  font-size: 0.32rem;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  .nav-box {
    padding: 0 0.2rem;
    height: 1rem;
    line-height: 1rem;
    position: relative;
    .nav-left,
    .nav-right {
      position: absolute;
      top: 0;
      margin: 0.12rem 0.2rem 0;
    }

    .nav-left {
      position: absolute;
      left: 0;
      a {
        display: inline-block;
        width: 0.45rem;
        height: 0.45rem;
      }
    }

    .nav-right {
      right: 0;
    }

    .title {
      margin: 0 auto;
      width: 100%;
      color: #FFF;
    }

    .left-arrow:before {
      width: 0.24rem;
      height: 0.24rem;
      top: 50%;
      margin-top: -0.12rem;
      border: .04rem solid #fff;
      border-width: .04rem 0 0 .04rem;
    }

    .icon-home,
    .icon-mine {
      display: inline-block;
      width: 0.45rem;
      height: 0.45rem;
      text-align: right;
      margin-top: 0.06rem;
    }

    .icon-home {
      background: url("../assets/icon-home.png") no-repeat center;
      background-size: 100% 100%;
    }

    .icon-mine {
      margin-left: .1rem;
      background: url("../assets/icon-mine.png") no-repeat center;
      background-size: 100% 100%;
    }
  }
}
// 头部组件 end
